<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../Static/project.css">
    <script src="..//Static/Java.js" defer></script>
</head>
<body>
    <div class="welcome">
        <div class="welcome-content">
            <h3>GLAM Is A Click Away</h3>
            <p>
                GLAM is an innovative and one of a kind site that ranks professionals in the field cosmetics.<br>
                 We are here to raise the quality standard in the field of care and beauty!
            </p>
            <div>
                <button class="butn" type="button" onclick="window.location.href = 'Signup.html'">Sign Up</button> 
                <button class="butn" type="button" onclick="window.location.href = 'Login.html'">Log In</button> 
            </div>
        </div>
    </div>
</body>
</html>