<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="..//Static/Java.js" defer></script>
    <title>ForgetPassword</title>
    <link rel="stylesheet" href="../Static/project.css" />
   
  </head> 
  <body >
    <div class="box">
      <h1> Forgot Your Password? </h1>
      <form>
        
        <div class="form-control">
          <label id="des">Email</label>
          <input type="email" id="email" placeholder="abc@def.com" />
          <br><small>Error message</small>
      </div><br>
      <div class="form-control">
          <label id="des">Password</label>
            <input type="password" id="password" placeholder=""  onInput="check()" />
           <br> <small>Error message</small>
          </div>
            <br><br>
         
        
          <div class="set" >
            <div id="count">Length : 0
                    <i id="see" onclick="see()" class="far fa-eye"></i>
            </div>
            <div id="check0">
              <i class="far fa-check-circle"></i>  <span> Length more than 8.</span>
            </div>
            <div id="check1">
              <i class="far fa-check-circle"></i>  <span> Contains numerical character.</span>
            </div>
            <div id="check2">
              <i class="far fa-check-circle"></i>  <span>Shouldn't contain spaces.</span>
            </div>
          </div>
        
        <div >
          <button class="button" type="button"  value="">Submit</button> 
        </div>
        
      </form>
     
    </div>
    
  </body>
</html>
