<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="..//Static/Java.js" defer></script>
    <title>Login </title>
    <link rel="stylesheet" href="../Static/project.css" />
  </head> 
  <body >
    <div class="box">
      <h1> Login </h1>
      <form>
        <div class="form-control">
          <label id="des">Email</label>
          <input type="email" id="email" placeholder="abc@def.com" />
          <br><small>Error message</small>
      </div><br>
      <div class="form-control">
          <label id="des">Password</label>
            <input type="password" id="password" placeholder=""  onInput="check()" />
           <br> <small>Error message</small>
          </div>
            <br>
          <button class="button" type="button"  >Submit</button>  
      </form>
      <p class="para-2">
        Not have an account? <a href="signup.html">Sign Up Here</a><br>
        Forgot Your Password? <a href="ForgetPassword.html">New Password</a>
      </p>
    </div>
    
  </body>
</html>
