<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="..//Static/Java.js" defer></script>
    <title>Login | By Code Info</title>
    <link rel="stylesheet" href="../Static/project.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head> 
  <body >
    <div class="box">
      <h1> Login </h1>
      <form>
        <label id="des">Email</label>
        <input type="email" placeholder="abc@def.com" />
        <label id="des">Password</label>
        <input type="password" placeholder="" />
        
        <div >
          <button class="button" type="button" onclick="window.location.href = 'search.html'" value="">Submit</button> 
        </div>
        
      </form>
      <p class="para-2">
        Not have an account? <a href="signup.html">Sign Up Here</a><br>
        Forgot Your Password? <a href="ForgetPassword.html">New Password</a>
      </p>
    </div>
    
  </body>
</html>
