<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="..//Static/Java.js" defer></script>
    <title>Sign Up | By Code Info</title>
    <link rel="stylesheet" href="../Static/project.css" />

  </head>
  <body>
    <div class="box">
      <h1>Sign Up</h1>
      <form >
        <label id="des">First Name</label>
        <input type="text" id="FirstName" placeholder="" />
        <label id="des">Last Name</label>
        <input type="text" id="LastName" placeholder="" />
        <label id="des">Email</label>
        <input type="email" id="email" placeholder="abc@def.com" />
        <label id="des">Password</label>
        
          <input type="password" id="password" placeholder="" onInput="check()" />
          <br>
          
          <div class="set" >
            <div id="count">Length : 0
                    <i id="see" onclick="see()" class="far fa-eye"></i>
            </div>
            <div id="check0">
              <i class="far fa-check-circle"></i>  <span> Length more than 8.</span>
            </div>
            <div id="check1">
              <i class="far fa-check-circle"></i>  <span> Contains numerical character.</span>
            </div>
            <div id="check2">
              <i class="far fa-check-circle"></i>  <span>Shouldn't contain spaces.</span>
            </div>
          </div>
          
        <button class="button" type="button" onclick="window.location.href = 'search.html'" >Submit</button> 
      </form>
      <p class="para-2">
        Already have an account? <a href="login.html">Login here</a>
      </p>
    </div>
  </body>
</html>



